.App {
  text-align: center;
}

.phone-picture {
  width: 100%;
height: 400px;
object-fit: contain;
}

.phone-container {
  background-color: white;
  width: 340px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.phone-name {
  padding: 8px;
  font-size: 24px;
  margin-bottom: 0px;

  /* font-weight: bold; */
}

.phone-company {
  /* padding: 16px; */
  font-size: 16px;
  color: grey;
  /* font-weight: bold; */
  margin-top: 0px;
}

body {
  background-color: whitesmoke;
  font-family: Roboto;
  margin: 16px;
}

.phone-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-items: center;
}
.login-container{
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  max-width: 400px;
 
}
.card-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.signin{
  margin: 0px;
}
.signin:hover{
  cursor: pointer;
  text-decoration: underline;
}
